{% extends "index.html" %}

{% block team_title %}
    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms"
            data-wow-delay="300ms">
        <h2>The Team</h2>

        <p>With a culture of collaboration and a roster of talent, the IT Skills team is active in the creative community, endlessly interested in what’s next, and generally pleasant to be around.</p>
    </div>
{% endblock %}

{% block team %}
{% for obj in object_list %}
    <div class="col-sm-3">
        <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
                <img class="img-responsive" src="{{ obj.picture_index.url }}" alt="">
            </div>
            <div class="member-info">
                <h3>{{obj.last_name}} {{obj.first_name}}</h3>
                <h4>{{obj.owner_title}}</h4>

                <p>{{obj.company_title}}</p>
            </div>
            <div class="social-icons">
                <ul>
                    <li><a class="facebook" target="_blank" href="https://www.facebook.com/adnen.hamdouni"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" target="_blank" href="https://tn.linkedin.com/in/adnenhamdouni"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
